@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;

  --black-200: #1a1a2a;
  --black-300: #333441;
  --black-400: #292d32;

  --sea-blue-100: #0267ff;
  --sea-blue-500: #67A4ff;
  --sea-blue-900: #0252cc;

  --gray-300: #4d4d56;
  --gray-600: #fafafb;
  --gray-700: #afafab;
  --gray-800: #bcbcc0;
  --gray-900: #d2d3d5;
  --gray-1000: #e9e9ea;

  --error-100: #ff0000;
  --error-500: #ff6666;
  --error-900: #cc0000;

  --success-100: #00e600;
}

svg {
  stroke: var(--gray-300);
}

input + svg {
  fill: var(--error-100);
  width: 20px;
  height: 20px;
  stroke: var(--white);
}

.link svg {
  stroke: var(--black-200);
}

.link-active-f svg {
  fill: var(--white);
  stroke: var(--white);
}

.link-active svg {
  stroke: var(--white);
}

.dp-link-active svg {
  fill: var(--white);
}

.btn-delete svg {
  stroke: var(--error-100);
}

.active svg path {
  stroke: #0267FF;
}

.camera svg path:nth-child(1) {
  fill: #0267FF;
  stroke: #0267FF;
}

.camera svg path:nth-child(2) {
  fill: #0267FF;
  stroke: #CCD3E0;
}

.camera svg path:nth-child(3) {
  fill: #CCD3E0;
  stroke: #CCD3E0;
}